:root {
    --card_bdr_radius: 15px;
    --rating_bg_color: #f1a52a;
    --hotel_title_color: #29417c;
    --location_color: #3761c9;
}

.jumbotron {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }

.form-group {
    align-items: start;
    display: flex;
}

h2 {
    font-size: 1.25rem;
}

#city_name {
    font-weight: 300;
    font-size: 32px;
    margin-bottom: 20px;
    color: #616d8a;
}

/*** Hotels section ***/
.card-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 25px;
    text-decoration: none;
    color: #333;
}

.card {
    position: relative;
    width: 18rem;
    border-radius: var(--card_bdr_radius);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.card:hover {
    cursor: pointer;
    -webkit-box-shadow: 4px 3px 14px 2px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:  4px 3px 14px 2px rgba(50, 50, 50, 0.5);
    box-shadow: 4px 3px 14px 2px rgba(50, 50, 50, 0.5);
}

.card-body {
    position: relative;
    height: 300px;
}

.card-img, .card-img-top {
    border-top-left-radius: var(--card_bdr_radius);
    border-top-right-radius: var(--card_bdr_radius);
    height: 200px;
    border-bottom: 1px solid #e6e6e6;
}

.card-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    color: var(--hotel_title_color);
}

.card-text {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 15px;
}

.card-text  span {
    display: block;
    line-height: 18px;
    margin-left: 6px;
}

.ratings,
#ratings_modal  {
    position:absolute;
    width: 50px;
    height: 50px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: var(--rating_bg_color);
    border: 4px solid #FFF;
    text-align: center;
    color: #FFF;
    font-size: 20px;
    line-height: 40px;
}

.ratings {
    top: 140px;
    right: 20px;
}

.stars {
    position:absolute;
    top: 160px;
    left: 10px; 
}

#stars_modal {
    left: 20px;
    bottom: 20px;
}

.star {
    display: inline-block;
    margin-right: 4px;
    color: var(--rating_bg_color);
    text-shadow: 2px 2px 2px #000000;
}

.icn_bullet {
    color: var( --location_color);
    margin-top: 2px;
}

.desc {
    display: block;
}

.price {
    position: absolute;
    bottom: 10px;
    right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.price .currency,
#currency {
    display: inline-block;
    padding: 1px 8px;
    background-color: #616d8a;
    color:#FFF;
    font-size: 10px;
    font-weight: 500;
    border-radius: 8px;
}

.price .g_price,
#g_price {
    display: inline-block;
    color: #333;
    font-size: 36px;
    font-weight: 300;
    margin-top: -5px;
}

/*** Modal ***/
.modal-content {
    border-radius: 20px;
    border:none;
    background: rgba(22,33,59,1);
background: -moz-linear-gradient(top, rgba(22,33,59,1) 0%, rgba(101,115,146,1) 16%, rgba(126,140,173,1) 21%, rgba(255,255,255,1) 46%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(22,33,59,1)), color-stop(16%, rgba(101,115,146,1)), color-stop(21%, rgba(126,140,173,1)), color-stop(46%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
background: -webkit-linear-gradient(top, rgba(22,33,59,1) 0%, rgba(101,115,146,1) 16%, rgba(126,140,173,1) 21%, rgba(255,255,255,1) 46%, rgba(255,255,255,1) 100%);
background: -o-linear-gradient(top, rgba(22,33,59,1) 0%, rgba(101,115,146,1) 16%, rgba(126,140,173,1) 21%, rgba(255,255,255,1) 46%, rgba(255,255,255,1) 100%);
background: -ms-linear-gradient(top, rgba(22,33,59,1) 0%, rgba(101,115,146,1) 16%, rgba(126,140,173,1) 21%, rgba(255,255,255,1) 46%, rgba(255,255,255,1) 100%);
background: linear-gradient(to bottom, rgba(22,33,59,1) 0%, rgba(101,115,146,1) 16%, rgba(126,140,173,1) 21%, rgba(255,255,255,1) 46%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#16213b', endColorstr='#ffffff', GradientType=0 );
}

#hotel_name {
    color: #FFF;
    font-size: 24px;
    font-weight: 300;
}

.close{
    font-size: 1.8rem;
    text-shadow: none;
    font-weight: 300;
    color: #FFF !important;
    opacity: .3;
}

.close:hover {
    color: #FFF !important;
    opacity: 1;
}

.modal-header {
    border-bottom: none;
}

.modal-footer { 
    border-top: none;
}

.image_wrapper {
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 15px;
    overflow: hidden;
}

#hotel_image {
    width: 100%;
    height: 300px;
}

#hotel_image img {
    width: 100%;
    height: auto;
}

.modal-body {
    padding-top: 0;
}

#ratings_modal {
    right: 20px;
    bottom: 20px;
}

#hotel_desc {
    font-size: 16px;
    line-height: 20px;
    margin-top: 20px;
    color: #636363;
    padding: 0 20px;
    flex-grow: 1;
    text-align: justify;
}

#info {
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: #ccc 1px solid;

}

#info .item {
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 16px;
}

#info .item span {
    display: block;
    line-height: 18px;
    margin-left: 6px;
}

.desc_price {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.price_modal {
    width: 115px;
    padding: 0 20px;
    margin-top: 20px;
}

#currency {
    margin-top: -2px;
}

#g_price {
    font-size: 40px;
}

.row {
    margin-bottom: 10px;
}

#recent-search {
    margin-bottom: 3rem;
}